.wwd-wrapper {
    background-color: #f3f4f6;
    position: relative;
    /* padding-bottom: 10rem; */
}

.wwd-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.wwd-head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 75%;
    text-align: center;
}

.wwd-blocks {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.wwd-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 2rem;
    min-width: 250px; /* Ensures minimum width */
}

.block-features {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.block-feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    border: 1px solid hsla(0, 0%, 59%, 0.17);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--title-color);
    font-size: 1.1rem;
    font-weight: 500;
    height: fit-content;
}

.wwd-support {
    display: flex;
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    background: white;
    flex-wrap: wrap;
    gap: 1rem;
}

.wwd-support > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media (max-width: 990px) {
    .wwd-blocks {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .wwd-container {
        margin-top: 8rem;
    }

    .wwd-head {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .wwd-support {
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .wwd-block {
        padding: 1.5rem;
    }
}

@media (max-width: 576px) {
    .wwd-container {
        margin-top: 5rem;
        padding: 1rem;
    }

    .wwd-block {
        width: 100%;
        max-width: 90%;
        padding: 1rem;
        margin: auto;
    }

    .block-features {
        flex-direction: column;
        gap: 1rem;
    }

    .block-feature {
        font-size: 1rem;
        padding: 0.75rem;
        align-items: center;
    }

    .wwd-head {
        width: 100%;
        text-align: center;
    }

    .wwd-support {
        width: 100%;
        padding: 1rem;
    }
}
